@import 'index.scss';

.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}
button{
  @extend .btn;
}
.badge{
  @extend .btn,.mx-1;
  font-size: 0.75rem;
  svg{
    @extend .align-text-top;
    font-size: 1rem;
  }
}
.badge-pill{
  padding-right: 1em !important;
}
.menu{
  label{
    @extend .text-left;
  }
}
.grid-striped{
  @extend .mt-2;
  overflow: hidden;
  .row{
      @extend .align-items-center, .no-gutters, .py-1;
  }
  .row.grid-head{
      @extend .bg-info, .font-weight-bold;
  }
  .row>[class*="col-"]:first-child{
    @extend .pl-2;
  }
  .row>[class*="col-"]:last-child{
    @extend .pr-2,.text-right;
  }
}
.dropdown.btn-group button:first-child{
  width: 90%;
}
.modal-dialog .row{
  @extend .align-items-center;
  margin-top: 5px;
}

.modal-dialog .row label{
  @extend .my-auto;
}

.modal-dialog .row.error label{
  @extend .text-danger;
}
.modal-dialog .row.error input{
  @extend .border-danger;
}

.grid-striped .row:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}
.react-datepicker-wrapper{
  @extend .w-100;
  input{
    @extend .w-100;
  }
}