@import "~bootstrap/scss/bootstrap";
@import "~react-datepicker/dist/react-datepicker";
body {
  @extend .small;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid{
  padding: 0px !important;
  .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
