@import 'App.scss';

.format-nth1-title{
    >.form-row:nth-child(1){
        @extend .bg-info, .p-2, .justify-content-between;
        >.form-label{@extend .my-0, .ml-2, .font-weight-bold;}
        >.badge{@extend .mr-2, .badge-light;}
    }

}
.employee-list-container{
    @extend .w-100, .border, .overflow-hidden, .format-nth1-title;
    border-radius: 1em 1em 0 0;
    >.form-row:not(:nth-child(1)){
        >.form-label{@extend .my-1, .ml-4;}
    }
}
.positions-list-container{
    @extend .w-100, .border, .overflow-hidden, .format-nth1-title;
    border-radius: 1em 1em 0 0;
    >.form-row:not(:nth-child(1)){
        >.form-label{@extend .my-1, .ml-4;}
    }
}
.documents-list-container{
    @extend .w-100, .border, .overflow-hidden, .format-nth1-title, .mb-3;
    border-radius: 1em 1em 0 0;
    >.form-row:not(:nth-child(1)){
        >.nav-link{@extend .w-100;}
        >.form-label{@extend .my-1, .ml-4;}
    }
}
.responsibility-list-container{
    @extend .w-100, .border, .overflow-hidden, .format-nth1-title;
    border-radius: 1em 1em 0 0;
    >.form-row:not(:nth-child(1)){
        >.form-label{@extend .my-1, .ml-4;}
    }
}