.public-background {
    //background: pink;

    text-align: center;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    //background-image: linear-gradient(to bottom right, #040015, #00d0ff);
}