@import 'App.scss';
/*
.private-layout{
    >.row:nth-child(2){
        @media (min-width:992px) {
            >[class*='col']:nth-child(1){
                width: 170px;
            }
        }
        @media (max-width:991.98px) {
        }
    }
}*/